header {
    width: 100%;
}

header img.img-logo {
    width: inherit;
    max-width: 332px;
}

ul.menu {
    padding: 0;
    list-style-type: none;
}

ul.menu li {
    padding: 4px 0;
}

.puzzle-row {
    margin: 40px 0;
}

.piece-1 {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.piece-2 {
    -moz-transform:rotate(145deg);
    -webkit-transform:rotate(145deg);
    -o-transform:rotate(145deg);
    transform:rotate(145deg);
}

.piece-3 {
    -moz-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    transform:rotate(5deg);
}

.piece-4 {
    -moz-transform:rotate(190deg);
    -webkit-transform:rotate(190deg);
    -o-transform:rotate(190deg);
    transform:rotate(190deg);
}

.piece-5 {
    -moz-transform:rotate(245deg);
    -webkit-transform:rotate(245deg);
    -o-transform:rotate(245deg);
    transform:rotate(245deg);
}